@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: 300;
	src: url('SEGA.TTF') format("truetype");
}



h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color:  #03c6fc;
}

#content_cont h1 { margin-top:0; }
.backg {
	background-color: rgba(0,0,0,0.5);
}

