.bg-image1 {
}

.bg-image1::after {
  content: "";
  background-image: url(cardimage.jpg);
  background-size: 100% 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
